tcc2_gabriel_porto/tcc2_gabriel_porto.aux
tcc2_gabriel_porto/tcc2_gabriel_porto.lof
tcc2_gabriel_porto/tcc2_gabriel_porto.log
tcc2_gabriel_porto/tcc2_gabriel_porto.lot
tcc2_gabriel_porto/tcc2_gabriel_porto.out
tcc2_gabriel_porto/tcc2_gabriel_porto.synctex.gz
tcc2_gabriel_porto/tcc2_gabriel_porto.toc
